.header-div {
    background-color: #fbf9f4;
    color: #4B4D4F;
}

.icon-tab {
    font-size: 20px;
}

hr {
    margin-top: 5px !important;
    margin-bottom: 0 !important;
}

.pateint-id-title {
    padding-top: 5px;
    margin-bottom: 0px;
    padding-left: 12px;
}

.patient-id-div {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-expand-lg {
    padding: 0 !important;
}

.nav-link {
    color: #442C2E !important;
}

.logo-img img {
    width: 80px;
    height: 50px;
}

.logo-img img:hover {
    cursor: pointer;
}

.nav-item {
    text-align: center;
    color:#595959;
}

.vl {
    margin: 10px;
    border-left: 1.5px solid #4B4D4F;
    height: 50px;
}

.user-icon{
    padding-right: 5px;
}

.active{
    background-color: orange !important;
}