.header-div{
    background-color: #ffb098;
    color: #442C2E;
}

hr{
    margin-top: 5px !important;
    margin-bottom: 0 !important;
}

.pateint-id-title{
    padding-top: 5px;
    margin-bottom: 0px;
    padding-left: 12px;
}

.navbar-expand-lg{
    padding: 0 !important; 
}

.nav-link{
    color: #442C2E !important;
}