*{
    padding: 0;
    margin: 0;
}
.discharge-summary {
    background-color: #fbf9f4;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}


.discharge-summary-data-div {
    width: 100%;
    height: 100%;
    margin-left: 207px;
}

.discharge-summary-title {
    color: #0C55B8;
    font-size: 25px;
}
