.medicine-table-div{
    margin: 10px;
    background-color: #FEEAE6;
}

.medicine-div{
    padding: 10px;
}

.patient-title{
    font-size: 25px;
    
}
.patient-title strong{
    cursor: pointer;
}
.patient-status{
    width: 400px;
    padding: 14px;
    text-align: center;
}
.head{
    font-weight: bold;
    
}