.medicine-table-div{
    margin: 10px;
    background-color: #fbf9f4;
}

.medicine-div{
    padding: 10px;
}

.patient-title{
    color: #0C55B8;
    font-size: 20px;
}

.follow-up-title{
    font-size: 25px;
    color: #0C55B8;
}

.patient-title{
    font-size: 20px;
    
}
.patient-title strong{
    cursor: pointer;
}
.patient-status{
    width: 400px;
    padding: 14px;
    text-align: center;
}
.head{
    font-weight: 900 !important;
    color: rgba(0, 0, 0, 0.87) !important;
}
.tick{
    background-color: green;
}
.cross{
    background-color: red;
}

.checkbox-yellow{
    outline: 2px solid #c00;
  }