.medicine-table-div{
    margin: 10px;
    background-color: #FEEAE6;
}

.medicine-div{
    padding: 10px;
}

<<<<<<< HEAD
.follow-up-title{
=======
.patient-title{
    color: #0C55B8;
>>>>>>> 2213efdf7bb8f6df7af3a832382670bbf74b3309
    font-size: 25px;
}

.patient-title{
    font-size: 20px;
    
}
.patient-title strong{
    cursor: pointer;
}
.patient-status{
    width: 400px;
    padding: 14px;
    text-align: center;
}
.head{
    font-weight: 900;
    color: rgba(0, 0, 0, 0.87);
}
.tick{
    background-color: green;
}
.cross{
    background-color: red;
}

.checkbox-yellow{
    outline: 2px solid #c00;
  }