

.previous-history {
    background-color: #fbf9f4;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin: 5px; */
    width: 80%;
    border-radius: 5px;
    padding: 10px;
}

.previous-history-title {
    color: #0C55B8;
    font-size: 25px;
}

.previous-history-data-div {
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    /* justify-content: center; */
    /* width: 60%; */
}
.tableHead{
    font-size: 15px !important;
    font-weight: 900 !important;
}

.previous-history-data {
    padding: 5px;
    margin-right: 5px;
}

.discharge-summary {
    background-color: #fbf9f4;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}


.discharge-summary-data {
    padding: 5px;
    margin-right: 5px;
    width: 35%;
}

.discharge-summary-title {
    color: #0C55B8;
    font-size: 25px;
}


.medicine-prescribed {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fbf9f4;
}

.medicine-prescribed-title {
    color: #0C55B8;
    font-size: 25px;
}

.followUp-div {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fbf9f4;
}

.followUp-title {
    color: #0C55B8;
    font-size: 25px;
}